<link rel="stylesheet" href="header.component.css">

<div class="container">
<nav class="nav">
    <img class="img-fluid" src="assets/ucp.png" width="5%"/>
    <div class="nav__links">
        <a href="" class="nav__link" href="#inicio">inicio</a>
        <a href="" class="nav__link" href="#Descripcion">Descripción</a>
        <a href="" class="nav__link" href="#infocita">Información general</a>
        <a href="" class="nav__link" href="#asistencia">Asistencia</a>
        <a href="" class="nav__link">Redes sociales</a>
    </div>
</nav>
</div>