<footer class="bg-light text-center text-green" style="background-color: green;">
    
    <div class="container p-4 pb-0">

      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn text-white btn-floating m-1"
          href="https://www.facebook.com/ucatolicadepereira/"
          role="button"
          ><img src="assets/img/face.png"></a>
  
        <!-- Twitter -->
        <a
          class="btn text-white btn-floating m-1"
          href="https://twitter.com/UCatolicaPei"
          role="button"
          ><img src="assets/img/tw.png" alt=""></a>
  
        <!-- Tiktok -->
        <a
          class="btn text-white btn-floating m-1"
          href="https://www.tiktok.com/"
          role="button"
          ><img src="assets/img/tik.png" alt=""></a>
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          href="https://www.instagram.com/ucatolicadepereira/"
          role="button"
          ><img src="assets/img/insta.png" alt=""></a>
  
        <!-- youtube -->
        <a
          class="btn text-white btn-floating m-1"
          href="https://www.youtube.com/user/CanalUCP"
          role="button"
          ><img src="assets/img/you.png" alt=""></a>
       
      </section>
     
    </div>
   <h1 class="text-center">¡Tu confianza nuestro compromiso!</h1>
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      
      <a class="text-white" href="https://www.ucp.edu.co/secretaria-general/">Politica de tratamiento de datos</a>
    </div>
   
  </footer>
  
