<div class="container border">
    <div class="row">
      <div class="col-5">
        <img class="card-img-top" src="assets/img/tds1.JPG/">
      </div>
      <div class="col-7">
        <h5>Tecnología en Desarrollo de Software</h5>
        <p>El programa de Tecnología en Desarrollo de
          Software de la Universidad Católica de Pereira, es apoyo para 
          la formación de personas creativas e innovadoras con competencia
           para aplicar conocimientos en la solución de problemas tecnológicos
            y con capacidad para la toma de decisiones, capaces de diseñar y
             desarrollar proyectos que garanticen el uso y aprovechamiento
              adecuado de sistemas de información en organizaciones nacionales 
              e internacionales, mediante la apropiación de tecnologías
               informáticas.</p>
               <a href="https://www.ucp.edu.co/pregrado/tecnologia-en-sistemas/" 
      class="btn btn-primary">Conoce más</a>
      </div>
    </div>
  </div>
  
  <div class="container">
  <section>
    <br>
<br>
    <h1 class="text-center">Conoce todos los servicios para ti</h1>
    
    <br>
<br>
<div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/biblioteca.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Biblioteca Cardenal Darío Castrillón Hoyos</h5>
          <p class="card-text">La Biblioteca Cardenal Darío Castrillón Hoyos
             les da la bienvenida. Atrévete a conocer algo de nuestros
              servicios a través de este recorrido virtual.</p>
              <a href="https://biblioteca.ucp.edu.co/" 
              class=" btn btn-orange">Más información</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/CIE.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">CIE</h5>
          <p class="card-text">La Universidad Católica de Pereira busca 
            fomentar el uso y apropiación de las Tecnologías de la Información
             y la Comunicación con el fin de fortalecer los procesos académicos.</p>
             <a href="https://www.ucp.edu.co/virtual/" 
             class=" btn btn-blue">Más información</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/capsi.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">CAPSI</h5>
          <p class="card-text">El centro de atención psicológica es 
            una IPS de objeto social diferente adscrita al Programa 
            de Psicología de la Facultad de Ciencias Humanas, Sociales
             y de la Educación.</p>
             <a href="https://www.ucp.edu.co/capsi/" 
             class=" btn btn-green">Más información</a>
        </div>
      </div>
    </div>
  </section>
  </div>
